body {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
}

.caixa {
    border: 1px dotted #0f0;
    border-radius: 12px;
    padding: 12px;
    margin: 20px auto;
    max-width: 940px;
}

.linha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 4px;
}

/* layout especial apenas para edição */
.linha.editar {
    display: grid;
    grid-template-columns: 50px 1fr 1.3fr 90px;
    gap: 6px;
    align-items: start;
}

input[type="text"] {
    background-color: #000;
    color: #0f0;
    border: 1px dotted #0f0;
    padding: 6px;
    width: 100%;
}

.linha input[name="nome[]"] {
    width: 40%;
}

.linha input[name="url[]"] {
    width: 50%;
}

.linha input[name="novo_nome"] {
  width: 90%;
}

.linha input[name="novo_url"] {
  width: 90%;
}

.campo-com-contador {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caracteres {
    font-size: 0.8em;
    padding-top: 2px;
    text-align: right;
    color: #0f0;
}


.caracteres.excedido {
    color: red;
}

.visivel-box {
    width: 90px;
}

input[type="submit"],
button {
    padding: 8px 16px;
    margin-top: 12px;
    background-color: #000;
    border: 1px dotted #0f0;
    color: #0f0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0f0;
    color: #000;
    transform: scale(1.05);
}

.alerta {
    font-family: monospace;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.centralizar {
    text-align: center;
}

.editar-favoritos { 
    max-width: 80%;
}

.adicionar-favorito {
    max-width: 40%;
}


.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.modal-content {
  background-color: #000;
  border: 1px dotted #0f0;
  padding: 20px;
  border-radius: 12px;
  color: #0f0;
  text-align: center;
}

.modal-botoes button {
  margin: 8px;
  padding: 6px 20px;
  border: 1px dotted #0f0;
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  border-radius: 6px;
  cursor: pointer;
}

.modal-botoes button:hover {
  background-color: #0f0;
  color: #000;
}

.id-label {
    display: inline-block;
    width: 40px;
    text-align: right;
    padding-right: 6px;
    color: #0f0;
}

